

<ion-view>
    <ion-nav-title>Home</ion-nav-title>
    <ion-content style="background-color: #eee;">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="vm.refresh()"></ion-refresher>
        <div class="list card" ng-repeat="(id,item) in vm.dados track by id" ui-sref="app.post(::{ id: id })">
            <div class="item item-avatar">
                <img ng-src="{{::item.foto}}">
                <h2>{{::item.autor_id}}</h2>
                <p>{{::item.create_time | date:'medium'}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="{{::item.foto}}">
                <h2>{{::item.titulo}}</h2>
                <p ng-bind-html="::post.excerpt"></p>
            </div>
        </div>
      <ion-infinite-scroll 
            ng-if="vm.canWeLoadMoreContent()"
            on-infinite="vm.loadMore()"  
            distance="1%">
        </ion-infinite-scroll>     
    </ion-content>

   