

     <ion-pane>
      <ion-header-bar align-title="center">
        <button class="button button-icon icon ion-ios-arrow-left"></button>
        <h1 class="title">Perfil</h1>
        <button class="button button-icon icon ion-ios-gear-outline"></button>
      </ion-header-bar>
      <ion-content>
        <div class="top-profile">
          <div class="badge">3</div>
          <img class="profile" ng-src="{{vm.perfil.photoURL}}" alt=" foto de {{vm.perfil.displayName}}">
        </div>
        <h1 class="name">{{vm.perfil.displayName}}</h1>
        <h2 class="prof">{{vm.perfil.email}}</h2>
    
      
      </ion-content>
    </ion-pane>