 <ion-pane>
      <ion-header-bar class="bar-positive">
        <a id="btn-voltar" class="button icon-left ion-chevron-left button-clear button-light" href='#login'></a>
      </ion-header-bar>
        <ion-content>
          
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Nome" ng-model="vm.nome">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="vm.email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Palavra-passe" ng-model="vm.senha">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Confirmar a Palavra-passe" ng-model="vm.confirmeSenha">
            </label>
            <label class="item item-input">
              <input type="number" placeholder="Numero da cédula" ng-model="vm.telefone">
            </label>

            <button class="button button-block button-positive" ng-click="vm.criarAdvogado()">Criar conta</button> 
          </div>

        </ion-content>
</ion-pane>