 <ion-pane>
      <ion-header-bar class="bar-positive">
        <a id="btn-voltar" class="button icon-left ion-chevron-left button-clear button-light" href='#login'></a>
      </ion-header-bar>
        <ion-content>
          
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Nome">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Palavra-passe">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Confirmar a Palavra-passe">
            </label>
            <label class="item item-input">
              <input type="number" placeholder="Numero de ordem">
            </label>

            <button class="button button-block button-positive">Criar conta</button> 
          </div>

        </ion-content>
</ion-pane>