<ion-pane class="login-custom">
      <ion-content>
        <h1>Meu<span>Advogado</span></h1>

        <ion-list class="list-inset">
          <ion-item class="item-input">
            <i class="icon ion-ios-email-outline placeholder-icon"></i>
            <input type="text" placeholder="E-mail" ng-model="vm.email">
          </ion-item>

          <ion-item class="item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input type="password" placeholder="Senha" ng-model="vm.senha">
          </ion-item>

          <ion-item class="item-button button-first">
            <button class="button button-block button-calm" ng-click="vm.login(vm)">Iniciar</button>
          </ion-item>

          <ion-item class="item-button">
            <button id="btn-facebook" class="button icon-left button-block ion-social-facebook
             item-center" ng-click="vm.authenticacao('facebook')"> Logar com Facebook
            </button>
            <button id="btn-google" class="button icon-left button-block ion-social-googleplus
             item-center"> Logar com Google+
            </button>
          </ion-item>

          <ion-item class="item-button">
            <button id="btn-CConta" class="button button-block button-clear">Já tem uma conta? Clique para criar uma</button>
          </ion-item>
        

      </ion-list></ion-content>
    </ion-pane>